body{
	margin: 0;
	padding: 0;
	font-family: Arial,sans-serif;
}
header{
	display: flex;
	justify-content: flex-end;
	top: 0;
}
 .set-top{
	align-items:center;
	display: flex;
	top: 0;
}
ul>a{
	padding:0 8px;
}
ul>img{
	padding:10px;
}
.set-top a{
	text-decoration: none;
    color:#2F2F2F;
}
.set-top a:hover{
	text-decoration: underline;
} 
.set-top img, i:hover{
    cursor: pointer;
    box-shadow: 0 0 30px 0 #E8E5E5;
}
.profile{
	border-radius: 30px;
}
section{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 2%;

}
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}
h1{
	font-size: 5.5em;
	font-family: product sans;
	margin-bottom: 19px;
	margin-top: 24px;
}
.input-container{
    display: flex;
    justify-content: space-between;
    width:610px;
    height:40px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 20px;
}
.input-container:hover{
	box-shadow: 0 0 10px 0 gainsboro;
}
.input-container>input{
	flex-grow: 1;
	outline: none;
	border: none;
}
section i {
	margin-top: 6px;
	margin-left: 5px;
	color: grey;
}
.buttons{
	padding-top: 28px;
	align-items: center;
	margin: 0 50 0 50px;
	text-align: center;
}
button{
    margin: 0 8px;
    padding: 0 10px;
    border: none;
    background-color: #F3F3F3;
    height: 40px;
    border-radius: 5px;
   
}
button:hover{
	box-shadow: 0 0 10px 0 gainsboro;
	cursor: pointer;
}
.languages{
	text-align: center;
    margin-top: 26px;
    font-size: 0.9em;
}
.languages a{
	text-decoration: none;
	color:#1B2E97;
	padding: 3px;

}
footer{
	position: fixed;
	align-items: center;
	bottom: 0;
	margin: auto;
	width:100%;
	background-color:#F3F3F3;
	color:#8E8C8C;
}
footer a{
	text-decoration: none;
	color:#8E8C8C;
	display: inline-flex;
}
footer a:hover{
	text-decoration: underline;
}
.fcontainer {
	align-items: center;
	position: relative;
	display: flex;
	justify-content: space-between;
}

#Lfooter{
	display: flex;
	justify-content: flex-start;
	padding-left: 20px;
	align-items: center;

}
#Rfooter{
	display: flex;
	justify-content: flex-end;
	margin-right: 20px;
	align-items: center;
	margin-right: 0;
	
}
